@import "../../global.scss";
.intro_bg{
background-color:$pure;
display:flex;
     .left{
      flex:0.5;
      overflow:hidden;
    .imgbox{
    background-color:$page;
    width:700px;
    height:700px;
    border-radius:50%;
    justify-content:center;
    display:flex;
    align-items:flex-end;
    float:right;
    
             }
            img{
               margin-bottom:100px;
               height:70%  ;
             }
    }
.right{
flex:0.5;
position: relative;
  .wrapper{
  width:100%;
  height:100%;
  padding-left:50px;
  display:flex;
  flex-direction:column;
  justify-content:center;

  h1{
    font-size:60px;
    margin:10px 0;
  }
  h2{
    font-size:35px;
  }
  h3{
    font-size: 30px;

    span{
        margin-left:15px;
        font-size:inherit;
        color:$page;
        
    }
    .ityped-cursor {
      font-size: 1rem;
      color:black;
      opacity: 1;
      -webkit-animation: blink 1s infinite;
      -moz-animation: blink 1s infinite;
      animation: blink 1s infinite;
      animation-direction: alternate;
  }
   
  @keyframes blink {
      100% {
          opacity: 0;
      }
  }
   
  @-webkit-keyframes blink {
      100% {
          opacity: 0;
      }
  }
   
  @-moz-keyframes blink {
      100% {
          opacity: 0;
      }
  }

  }
  }
  a{ 
    position:absolute;
    bottom:10px;
    left:40%;
    img{
        margin-bottom:80px;
        width:30px;
        height:30px;
        cursor: pointer;
        animation:arrowblink 2s  infinite;
        
    }
    @keyframes arrowblink {
        100%{
            opacity:0;
        }
    }
     
  }

}
}